<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Goleadas Barsa al Madrid
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 5</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-row class="center-row">
    <ion-col size="12">
      <h2 class="center-text">6-2</h2>
    </ion-col>
    <ion-col size="12">
      <ion-card class="goal-card">
        <ion-card-content>
          <img src="https://www.mundodeportivo.com/files/og_thumbnail/uploads/2020/05/02/60e7929de46cd.jpeg" class="center-image">
          <p class="goal-info-madrid madrid-goal-info">Higuain 14"</p>
          <p class="goal-info-barca barca-goal-info">Henry 18"</p>
          <p class="goal-info-barca barca-goal-info">Puyol 20"</p>
          <p class="goal-info-barca barca-goal-info">Messi 36"</p>
          <p class="goal-info-madrid madrid-goal-info">Ramos 56"</p>
          <p class="goal-info-barca barca-goal-info">Henry 58"</p>
          <p class="goal-info-barca barca-goal-info">Messi 75"</p>
          <p class="goal-info-barca barca-goal-info">Pique 83"</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  
  <ion-row class="center-row">
    <ion-col size="12">
      <h2 class="center-text">5-0</h2>
    </ion-col>
    <ion-col size="12">
      <ion-card class="goal-card">
        <ion-card-content>
          <img src="https://img.asmedia.epimg.net/resizer/W9hzjBrLW4GFvoaqxPrWPOeOeTo=/360x203/filters:focal(687x383:675x393)/cloudfront-eu-central-1.images.arcpublishing.com/diarioas/DYTGWP554ZMY7HXHXPOST2Y3C4.jpg" class="center-image">
          <p class="goal-info-barca barca-goal-info">Xavi 10"</p>
          <p class="goal-info-barca barca-goal-info">Pedro 18"</p>
          <p class="goal-info-barca barca-goal-info">Villa 54"</p>
          <p class="goal-info-barca barca-goal-info">Villa 56"</p>
          <p class="goal-info-barca barca-goal-info">Jeffren 88 "</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

    <ion-row>
      <ion-col size="12">
        <h2>Otras goleadas</h2>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>5-1</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Goleada del barsa al madrid con goles de coutinho, arturo vidal y hat trick de luis suarez</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>4-0</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Goleada mas reciente con doblete de aubameyang gol de ferran torres y araujo en el campo del madrid</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    
</ion-content>