<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Champions Barcelona
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-row>
    <ion-col size="12">
      <h2>Todas las champions del barsa</h2>
    </ion-col>
    <ion-col size="12">
      <ion-card>
        <ion-card-content>
          <p>El barsa ha ganado cinco champions a lo largo de la historia</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  
  <ion-grid>
    
    <ion-row>
      <ion-col size="12">
        <h2>Todas las champions del Barsa</h2>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <h3>1992</h3>
            <p>victoria en la final contra la sampdoria con un gol mítico de Koeman</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <h3>2006</h3>
            <p>Vcitoria contra el Arsenal con goles de Samuel Eto'o y de Belleti</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <h3>2009</h3>
            <p>El año en el que el Barcelona de Guardiola gana el sextete, gano la final de la champions contra el manchester united con goles de Mesi y Eto'o</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <h3>2011</h3>
            <p>Se consigue la 4 champions de la historia del Barcelona contra el manchester united de nuevo, los goleadores fueron: Pedro, Messi y Villa</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <h3>2015</h3>
            <p>La ultima champions demomento del Barsa, vencieron en la final a la juventus  con goles de neymar, rakitic y suarez terminando así una champions historica </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>